.actions {
  opacity: 1;
}

tr:hover .actions {
  opacity: 1;
}

tbody td a {
  color: #222;

  &:hover {
    color: #222;
  }
}
.App{
  display: flex;
  height: 100%;
  //overflow: auto;
}
.App .bar{
  width:10%;
  height: 1000px;
}
 