
table{
    width:100%;
}
td,th{
    padding-bottom: 4px;
    padding-top: 4px;
    text-align: left;
   
}
td,th:first-child{
    padding-left: 8px;
}
th{
    color:rgba(44, 43, 43, 0.37);
    
}
thead{
    background-color: #f2f2f2;
}
.outerwrap{
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    position: relative;
}
.contacttable{
    width:70%
}

.desc{
    background-color:#f2f2f2;
    color:black;
    margin-left: 32px;
}
